In [1]:
from sqlalchemy import *


host = 'db.ipeirotis.org'
user = 'student'
password = 'dwdstudent2015'
engine = create_engine(f'mysql://{user}:{password}@{host}/?charset=utf8')


%reload_ext sql_magic
%config SQL.conn_name = 'engine'

In [2]:
%%read_sql
SHOW DATABASES;

Query started at 03:54:00 AM UTC; Query executed in 0.01 m

             Database
0  information_schema
1        bike_sharing
2            citibike
3            facebook
4                imdb
5               music
6     nypd_complaints
7              public

In [3]:
# We use the SQL alchemy package to connect
from sqlalchemy import create_engine

# We supply our credentials and point to the database we're trying to connect to and
host = '127.0.0.1'
user = 'root'
password = 'dwdstudent2015'
engine = create_engine(f'mysql://{user}:{password}@{host}/?charset=utf8')

# Load the SQL_magic extension and configure the connection
%reload_ext sql_magic
%config SQL.conn_name = 'engine'

In [4]:
import pandas as pd 

url = 'EPL.csv'   #Here we import our dataset into pandas
matches_data = pd.read_csv(url)

# Inspect the first 5 rows of the result
matches_data.head(5)

      HomeTeam        AwayTeam  FTHG  FTAG   Season
0  Aston Villa      Man United     3     1  1995-96
1    Blackburn             QPR     1     0  1995-96
2      Chelsea         Everton     0     0  1995-96
3    Liverpool  Sheffield Weds     1     0  1995-96
4     Man City       Tottenham     1     1  1995-96

In [5]:
matches_data.pivot_table(columns=['Season'], values=['HomeTeam', 'AwayTeam','FTHG','FTAG'],
                         aggfunc={'FTHG':max, 'FTAG':max})

#This pivot table shows the maximum number of home and away goals scored each season

Season,1995-96,1996-97,1997-98,1998-99,1999-00,2000-01,2001-02,2002-03,2003-04,2004-05,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
FTAG,6,4,6,8,5,4,6,6,5,5,...,5,6,6,6,6,6,6,6,7,6
FTHG,7,7,7,7,8,6,7,6,6,7,...,6,9,7,8,8,7,8,6,6,7

In [6]:
matches_data.pivot_table(index='HomeTeam', columns='Season',values='FTHG', aggfunc=sum)

#This pivot table will show us the total number of goals scored by each team at their own Homeground every season

Season,1995-96,1996-97,1997-98,1998-99,1999-00,2000-01,2001-02,2002-03,2003-04,2004-05,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
HomeTeam,,,,,,,,,,,,,,,,,,,,,
Arsenal,30.0,36.0,43.0,34.0,42.0,45.0,42.0,47.0,40.0,54.0,...,31.0,48.0,33.0,39.0,47.0,36.0,41.0,31.0,39.0,54.0
Aston Villa,32.0,27.0,26.0,33.0,23.0,27.0,22.0,25.0,24.0,26.0,...,27.0,29.0,26.0,20.0,23.0,22.0,18.0,14.0,NaN,NaN
Barnsley,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Birmingham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.0,26.0,24.0,...,NaN,19.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blackburn,44.0,28.0,40.0,21.0,NaN,NaN,33.0,24.0,25.0,21.0,...,22.0,28.0,22.0,26.0,NaN,NaN,NaN,NaN,NaN,NaN
Blackpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bolton,16.0,NaN,25.0,NaN,NaN,NaN,20.0,27.0,24.0,25.0,...,21.0,26.0,34.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN
Bournemouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,35.0,26.0
Bradford,NaN,NaN,NaN,NaN,26.0,20.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brighton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.0
Burnley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,25.0,NaN,NaN,NaN,NaN,14.0,NaN,26.0,16.0
Cardiff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN
Charlton,NaN,NaN,NaN,20.0,NaN,31.0,23.0,26.0,29.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chelsea,30.0,33.0,37.0,29.0,35.0,44.0,43.0,41.0,34.0,35.0,...,33.0,68.0,39.0,41.0,41.0,43.0,36.0,32.0,55.0,30.0
Coventry,21.0,19.0,26.0,26.0,38.0,14.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crystal Palace,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,21.0,...,NaN,NaN,NaN,NaN,NaN,18.0,21.0,19.0,24.0,29.0
Derby,NaN,25.0,33.0,22.0,22.0,23.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Everton,35.0,24.0,25.0,22.0,36.0,29.0,26.0,28.0,27.0,24.0,...,31.0,35.0,31.0,28.0,33.0,38.0,27.0,35.0,42.0,28.0
Fulham,NaN,NaN,NaN,NaN,NaN,NaN,21.0,26.0,29.0,29.0,...,28.0,27.0,30.0,36.0,28.0,24.0,NaN,NaN,NaN,NaN
Huddersfield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0
Hull,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,22.0,NaN,NaN,NaN,20.0,19.0,NaN,28.0,NaN
Ipswich,NaN,NaN,NaN,NaN,NaN,31.0,20.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Leeds,21.0,15.0,31.0,32.0,29.0,36.0,31.0,25.0,25.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Leicester,NaN,22.0,21.0,25.0,31.0,28.0,15.0,NaN,19.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,28.0,35.0,31.0,25.0
Liverpool,46.0,38.0,42.0,44.0,28.0,40.0,33.0,30.0,29.0,31.0,...,41.0,43.0,37.0,24.0,33.0,53.0,30.0,33.0,45.0,45.0
Man City,21.0,NaN,NaN,NaN,NaN,20.0,NaN,28.0,31.0,24.0,...,40.0,41.0,34.0,55.0,41.0,63.0,44.0,47.0,37.0,61.0
Man United,36.0,38.0,42.0,45.0,59.0,49.0,40.0,42.0,37.0,31.0,...,43.0,52.0,49.0,52.0,45.0,29.0,41.0,27.0,26.0,38.0
Middlesboro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Middlesbrough,27.0,34.0,NaN,25.0,23.0,18.0,23.0,NaN,25.0,29.0,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN
Newcastle,38.0,54.0,22.0,26.0,42.0,26.0,40.0,36.0,33.0,25.0,...,24.0,NaN,41.0,29.0,24.0,23.0,26.0,32.0,NaN,21.0
Norwich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,...,NaN,NaN,NaN,28.0,25.0,17.0,NaN,26.0,NaN,NaN
Nott'm Forest,29.0,15.0,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portsmouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,30.0,...,26.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
QPR,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,24.0,13.0,NaN,23.0,NaN,NaN,NaN
Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,23.0,NaN,NaN,NaN,NaN,NaN
Sheffield United,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sheffield Weds,30.0,25.0,30.0,20.0,21.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Southampton,21.0,32.0,28.0,29.0,26.0,27.0,23.0,25.0,24.0,30.0,...,NaN,NaN,NaN,NaN,26.0,32.0,37.0,39.0,17.0,20.0
Stoke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.0,24.0,31.0,25.0,21.0,27.0,32.0,22.0,24.0,20.0
Sunderland,NaN,20.0,NaN,NaN,28.0,24.0,18.0,11.0,NaN,NaN,...,21.0,32.0,25.0,26.0,20.0,21.0,16.0,23.0,16.0,NaN
Swansea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27.0,28.0,33.0,27.0,20.0,27.0,17.0
Tottenham,26.0,19.0,23.0,28.0,40.0,31.0,32.0,30.0,33.0,36.0,...,21.0,40.0,30.0,39.0,29.0,30.0,31.0,35.0,47.0,40.0
Watford,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,25.0,27.0
West Brom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,17.0,...,26.0,NaN,30.0,21.0,32.0,24.0,24.0,20.0,27.0,21.0
West Ham,25.0,27.0,40.0,32.0,32.0,24.0,32.0,21.0,NaN,NaN,...,23.0,30.0,24.0,NaN,34.0,25.0,25.0,34.0,19.0,24.0
Wigan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.0,19.0,22.0,22.0,26.0,NaN,NaN,NaN,NaN,NaN
Wimbledon,27.0,28.0,18.0,22.0,30.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wolves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,NaN,...,NaN,13.0,30.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
matches_data.pivot_table(index='AwayTeam', columns='Season', values='FTHG', aggfunc='sum')

#This pivot table will show us the total number of goals scored by each team away from their Home ground every season.

Season,1995-96,1996-97,1997-98,1998-99,1999-00,2000-01,2001-02,2002-03,2003-04,2004-05,...,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18
AwayTeam,,,,,,,,,,,,,,,,,,,,,
Arsenal,16.0,14.0,23.0,12.0,26.0,25.0,11.0,22.0,12.0,17.0,...,21.0,26.0,28.0,32.0,14.0,30.0,22.0,25.0,28.0,31.0
Aston Villa,20.0,21.0,24.0,18.0,23.0,23.0,30.0,33.0,25.0,35.0,...,27.0,23.0,40.0,28.0,41.0,32.0,32.0,41.0,NaN,NaN
Barnsley,NaN,NaN,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Birmingham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.0,24.0,31.0,...,NaN,34.0,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Blackburn,28.0,20.0,26.0,28.0,NaN,NaN,31.0,28.0,28.0,21.0,...,37.0,37.0,43.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
Blackpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bolton,40.0,NaN,39.0,NaN,NaN,NaN,31.0,27.0,35.0,26.0,...,32.0,36.0,32.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN
Bournemouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0,38.0,31.0
Bradford,NaN,NaN,NaN,NaN,39.0,41.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brighton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0
Burnley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,52.0,NaN,NaN,NaN,NaN,32.0,NaN,35.0,22.0
Cardiff,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,39.0,NaN,NaN,NaN,NaN
Charlton,NaN,NaN,NaN,36.0,NaN,38.0,19.0,26.0,22.0,29.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chelsea,22.0,33.0,29.0,17.0,22.0,25.0,17.0,23.0,17.0,9.0,...,12.0,18.0,20.0,22.0,23.0,16.0,23.0,23.0,16.0,22.0
Coventry,37.0,31.0,27.0,30.0,32.0,40.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Crystal Palace,NaN,NaN,32.0,NaN,NaN,NaN,NaN,NaN,NaN,43.0,...,NaN,NaN,NaN,NaN,NaN,25.0,24.0,28.0,38.0,28.0
Derby,NaN,36.0,31.0,26.0,32.0,35.0,37.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Everton,25.0,35.0,29.0,35.0,28.0,32.0,34.0,30.0,37.0,31.0,...,17.0,28.0,22.0,25.0,23.0,20.0,29.0,25.0,28.0,36.0
Fulham,NaN,NaN,NaN,NaN,NaN,NaN,28.0,32.0,25.0,34.0,...,18.0,31.0,20.0,25.0,30.0,47.0,NaN,NaN,NaN,NaN
Huddersfield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.0
Hull,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.0,46.0,NaN,NaN,NaN,32.0,27.0,NaN,45.0,NaN
Ipswich,NaN,NaN,NaN,NaN,NaN,27.0,40.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Leeds,36.0,25.0,25.0,25.0,25.0,22.0,16.0,31.0,48.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Leicester,NaN,28.0,26.0,21.0,31.0,28.0,30.0,NaN,37.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,33.0,18.0,38.0,38.0
Liverpool,21.0,18.0,26.0,25.0,17.0,25.0,16.0,25.0,22.0,26.0,...,14.0,20.0,30.0,24.0,27.0,32.0,28.0,28.0,24.0,28.0
Man City,39.0,NaN,NaN,NaN,NaN,34.0,NaN,28.0,30.0,25.0,...,32.0,25.0,21.0,17.0,19.0,24.0,24.0,20.0,22.0,13.0
Man United,26.0,27.0,17.0,19.0,29.0,19.0,28.0,22.0,20.0,14.0,...,11.0,16.0,25.0,14.0,24.0,22.0,22.0,26.0,17.0,19.0
Middlesboro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Middlesbrough,23.0,35.0,NaN,36.0,26.0,21.0,21.0,NaN,29.0,27.0,...,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.0,NaN
Newcastle,28.0,20.0,24.0,29.0,34.0,33.0,29.0,31.0,26.0,32.0,...,30.0,NaN,30.0,34.0,37.0,31.0,36.0,41.0,NaN,30.0
Norwich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.0,...,NaN,NaN,NaN,36.0,38.0,44.0,NaN,37.0,NaN,NaN
Nott'm Forest,37.0,32.0,NaN,38.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Portsmouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,33.0,...,28.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
QPR,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41.0,32.0,NaN,49.0,NaN,NaN,NaN
Reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN
Sheffield United,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sheffield Weds,30.0,35.0,41.0,27.0,47.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Southampton,34.0,32.0,32.0,38.0,40.0,26.0,32.0,30.0,28.0,36.0,...,NaN,NaN,NaN,NaN,36.0,23.0,20.0,19.0,27.0,30.0
Stoke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,27.0,30.0,33.0,23.0,35.0,23.0,31.0,32.0,38.0
Sunderland,NaN,35.0,NaN,NaN,39.0,25.0,35.0,34.0,NaN,NaN,...,29.0,37.0,29.0,29.0,35.0,33.0,26.0,42.0,35.0,NaN
Swansea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,33.0,25.0,28.0,27.0,32.0,36.0,32.0
Tottenham,19.0,34.0,34.0,24.0,23.0,38.0,29.0,33.0,30.0,19.0,...,35.0,29.0,27.0,24.0,28.0,28.0,29.0,20.0,17.0,20.0
Watford,NaN,NaN,NaN,NaN,46.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,39.0,33.0
West Brom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.0,NaN,37.0,...,34.0,NaN,41.0,30.0,32.0,32.0,25.0,22.0,29.0,27.0
West Ham,31.0,23.0,39.0,27.0,30.0,30.0,43.0,35.0,NaN,NaN,...,23.0,37.0,39.0,NaN,31.0,25.0,29.0,25.0,33.0,42.0
Wigan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.0,55.0,27.0,35.0,34.0,NaN,NaN,NaN,NaN,NaN
Wimbledon,37.0,25.0,21.0,42.0,46.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wolves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0,NaN,...,NaN,34.0,36.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
%%read_sql
CREATE DATABASE IF NOT EXISTS EPL DEFAULT CHARACTER SET 'utf8'; 
USE EPL;

Query started at 03:54:38 AM UTC; Query executed in 0.00 m

In [11]:
matches_data.to_sql(
          name = 'matches',              
          schema = 'EPL',   #Here we define the elements in our dataset
          con = engine,                   
          if_exists = 'replace', 
          index = False, 
          dtype = {"Season": String(16),"FTAG":Integer,"FTHG":Integer})

In [12]:
%%read_sql
SELECT * 
FROM matches
LIMIT 10;

Query started at 03:54:42 AM UTC; Query executed in 0.00 m

      HomeTeam        AwayTeam  FTHG  FTAG   Season
0  Aston Villa      Man United     3     1  1995-96
1    Blackburn             QPR     1     0  1995-96
2      Chelsea         Everton     0     0  1995-96
3    Liverpool  Sheffield Weds     1     0  1995-96
4     Man City       Tottenham     1     1  1995-96
5    Newcastle        Coventry     3     0  1995-96
6  Southampton   Nott'm Forest     3     4  1995-96
7     West Ham           Leeds     1     2  1995-96
8    Wimbledon          Bolton     3     2  1995-96
9      Arsenal   Middlesbrough     1     1  1995-96

In [13]:
%%read_sql
SELECT HomeTeam, MAX(FTHG)
FROM matches
GROUP BY HomeTeam
Limit 100;

/*This query gives us the maximum number of goals scored in a single game at Home 
by each team in the EPL over the past 25 seasons*/

Query started at 03:54:44 AM UTC; Query executed in 0.00 m

            HomeTeam  MAX(FTHG)
0           Barnsley          4
1      Nott'm Forest          4
2          Wimbledon          5
3     Sheffield Weds          6
4           Bradford          4
5           Coventry          5
6            Ipswich          5
7        Middlesboro          5
8              Leeds          6
9           Charlton          5
10  Sheffield United          3
11             Derby          4
12        Portsmouth          7
13         Blackpool          4
14        Birmingham          5
15            Bolton          5
16            Wolves          4
17         Blackburn          7
18           Reading          6
19             Wigan          5
20           Cardiff          3
21            Fulham          6
22               QPR          3
23       Aston Villa          6
24           Norwich          4
25     Middlesbrough          8
26        Sunderland          5
27              Hull          6
28          Brighton          4
29       Bournemouth          6
30           Everton          7
31             Stoke          6
32           Watford          4
33         West Brom          5
34           Arsenal          7
35           Chelsea          8
36         Leicester          5
37          Man City          7
38           Burnley          4
39    Crystal Palace          5
40      Huddersfield          4
41         Liverpool          7
42        Man United          8
43         Newcastle          8
44       Southampton          8
45           Swansea          5
46         Tottenham          9
47          West Ham          6

In [14]:
%%read_sql
SELECT HomeTeam, SUM(FTHG),SUM(FTAG)
FROM matches
GROUP BY HomeTeam
Limit 100;

/*This query gives us the total number of goals scored at Home 
as well as the total number of goals scored away from Home by each team in the EPL
over the past 25 seasons*/

Query started at 03:54:44 AM UTC; Query executed in 0.00 m

            HomeTeam  SUM(FTHG)  SUM(FTAG)
0           Barnsley       25.0       35.0
1      Nott'm Forest       62.0       75.0
2          Wimbledon      125.0      128.0
3     Sheffield Weds      126.0      111.0
4           Bradford       46.0       58.0
5           Coventry      144.0      129.0
6            Ipswich       51.0       39.0
7        Middlesboro       36.0       21.0
8              Leeds      245.0      181.0
9           Charlton      199.0      198.0
10  Sheffield United       24.0       21.0
11             Derby      157.0      177.0
12        Portsmouth      184.0      159.0
13         Blackpool       30.0       37.0
14        Birmingham      162.0      140.0
15            Bolton      319.0      313.0
16            Wolves       85.0      130.0
17         Blackburn      422.0      331.0
18           Reading       71.0       78.0
19             Wigan      169.0      215.0
20           Cardiff       20.0       35.0
21            Fulham      349.0      299.0
22               QPR       85.0      103.0
23       Aston Villa      518.0      433.0
24           Norwich      125.0      130.0
25     Middlesbrough      324.0      307.0
26        Sunderland      336.0      371.0
27              Hull      107.0      145.0
28          Brighton       24.0       25.0
29       Bournemouth       84.0       93.0
30           Everton      693.0      465.0
31             Stoke      248.0      213.0
32           Watford      115.0      135.0
33         West Brom      280.0      322.0
34           Arsenal      940.0      355.0
35           Chelsea      899.0      353.0
36         Leicester      280.0      262.0
37          Man City      651.0      326.0
38           Burnley       81.0       88.0
39    Crystal Palace      147.0      183.0
40      Huddersfield       16.0       25.0
41         Liverpool      859.0      349.0
42        Man United      951.0      305.0
43         Newcastle      638.0      451.0
44       Southampton      436.0      349.0
45           Swansea      179.0      170.0
46         Tottenham      751.0      463.0
47          West Ham      549.0      477.0

In [15]:
%%read_sql
SELECT Season, HomeTeam, MAX(FTHG)
FROM matches
GROUP BY Season, HomeTeam
Limit 100;

--This query shows us the maximum number of goals scored by each time at home every season

Query started at 03:54:45 AM UTC; Query executed in 0.00 m

     Season        HomeTeam  MAX(FTHG)
0   1995-96     Aston Villa          4
1   1995-96       Blackburn          7
2   1995-96          Bolton          2
3   1995-96       Liverpool          6
4   1995-96             QPR          3
5   1995-96  Sheffield Weds          6
6   1995-96       Tottenham          4
7   1995-96       Wimbledon          3
8   1995-96      Man United          5
9   1995-96           Leeds          3
10  1995-96         Arsenal          4
11  1995-96         Chelsea          5
12  1995-96        Coventry          5
13  1995-96         Everton          4
14  1995-96        Man City          3
15  1995-96   Middlesbrough          4
16  1995-96       Newcastle          6
17  1995-96   Nott'm Forest          4
18  1995-96     Southampton          3
19  1995-96        West Ham          4
20  1996-97         Arsenal          4
21  1996-97         Chelsea          6
22  1996-97        Coventry          3
23  1996-97       Liverpool          5
24  1996-97   Middlesbrough          6
25  1996-97   Nott'm Forest          2
26  1996-97     Southampton          6
27  1996-97      Sunderland          3
28  1996-97        West Ham          5
29  1996-97       Leicester          4
..      ...             ...        ...
70  1998-99         Arsenal          5
71  1998-99        Charlton          5
72  1998-99         Chelsea          3
73  1998-99        Coventry          4
74  1998-99       Liverpool          7
75  1998-99      Man United          5
76  1998-99       Newcastle          4
77  1998-99   Nott'm Forest          2
78  1998-99     Southampton          3
79  1998-99        West Ham          5
80  1999-00        Coventry          4
81  1999-00           Derby          4
82  1999-00       Leicester          5
83  1999-00      Man United          7
84  1999-00   Middlesbrough          3
85  1999-00      Sunderland          4
86  1999-00       Wimbledon          5
87  1999-00       Liverpool          4
88  1999-00           Leeds          4
89  1999-00         Arsenal          5
90  1999-00     Aston Villa          4
91  1999-00        Bradford          4
92  1999-00         Chelsea          5
93  1999-00         Everton          5
94  1999-00       Newcastle          8
95  1999-00  Sheffield Weds          5
96  1999-00     Southampton          4
97  1999-00       Tottenham          7
98  1999-00         Watford          3
99  1999-00        West Ham          5

[100 rows x 3 columns]